modules = ["nodejs-20", "web", "bash", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SEIIKI API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SEIIKI Web"

[[workflows.workflow]]
name = "SEIIKI API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "SEIIKI Web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=22402 BASE_PATH=/ pnpm --filter @workspace/seiiki-listrik run dev"
waitForPort = 22402

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
